body {
    font-family: 'courier new', monospace;
    max-width: auto;
    margin: 0 auto;
    padding: 25px;
    line-height: 1.6;
    background-color: #000000;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 94vh;
}

header {
  min-height: 50px;
}

div[id=header-content] a {
    margin: 0 10px;
    display: inline-block;
    display: 50%;
}

div[id=cover-art-div] {
    width: 50%;
    height: 50%;
    margin-top: 10%;
    text-align: center;
    margin-bottom: 15px;   
    float: left;
}

div[id=release-info] {
    width: 50%;
    height: 50%;
    margin-top: 10%;
    text-align: center;
    margin-bottom: 15px;
    float: right;
}

h3 {
    color: #f6f6f6;
    margin-bottom: 5px;
}

p[id=release-description] {
    margin-left: 0px;
    margin-right: 40px;
    text-align: center;
}

input[id=homeButton]
{
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 20px 0 0;
}

h1 {
    color: #ffffff;
    text-align: center;
}

p {
    color: #d8d8d8;
}

p[id="welcome-text"] {
    color: #f6f6f6;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;  
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

div[id=latest-release] {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto; 
    text-align: center;
}

div[id=release-links] {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

img[id=cover-art] {
    width: 48%;
    border-radius: 10px;
    margin-bottom: 15px;
}

a {
    color: #d8d8d8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

a[id="break"] {
    color: #757575
}

section {
    border: 1px solid #2b2b2b;
    border-radius: 10px;
    padding: 25px;
    background-color: #000000;
    margin-bottom: 30px;
}

h2 {
    margin-top: 20px;
    color: #f6f6f6;
}

button:hover {
    background-color: #155ab6;
}

div[id=socials] {
    text-align: center;
    margin-bottom: 30px;
}

div[id=music-content] {
    text-align: center;
    margin-bottom: 30px;
}

div[id=spotify-embed] {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

div[id=contact-content] {
    text-align: center;
    color: #d8d8d8;
    margin-bottom: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    color: #666;
    font-size: 0.9em;
    float: bottom;
    min-height: 50px;
}